:root {
  --logo: #f45d48;
  --background: #f8f5f2;
  --headline: #232323;
  --paragraph: #222525;
  --buttons: #078080;
  --buttons-text: #ffffff;
  --ilustration-background: #fffffe;
}

body {
  font-family: Roboto;
  margin: 0px;
  background: var(--background);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}
