@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --logo: #f45d48;
  --background: #f8f5f2;
  --headline: #232323;
  --paragraph: #222525;
  --buttons: #078080;
  --buttons-text: #ffffff;
  --ilustration-background: #fffffe;
}

.new-room-button {
  background-color: var(--logo);
  color: var(--buttons-text);
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 1px;
}
