@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --logo: #f45d48;
  --background: #f8f5f2;
  --headline: #232323;
  --paragraph: #222525;
  --buttons: #078080;
  --buttons-text: #ffffff;
  --ilustration-background: #fffffe;
}

.room-container {
  display: flex;
  flex-direction: column;
  background-color: var(--ilustration-background);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px 0;
  width: 100%;
  height: 70%;
  max-width: 800px;
  transform: translate(-50%, -50%);
  border-radius: 1px;
}

.start-room-button {
  background-color: var(--buttons);
  color: var(--buttons-text);
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 1px;
}

.leave-room {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translateX(50%);
}

.leave-room button {
  background-color: var(--buttons);
  color: var(--buttons-text);
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  border-radius: 1px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.single-room-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.single-room-header h4 {
  flex: 1;
  font-size: 25px;
  font-family: Roboto;
  font-style: normal;
  color: var(--headline);
}

.single-room-header img {
  border-radius: 45px !important;
  width: 60px;
  height: 60px;
  margin-left: 5%;
  margin-right: 5%;
}

.single-room-header div {
  margin-right: 8%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #c5c5c5;
}

.room-container p {
  font-size: 15px;
  white-space: pre-wrap;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Roboto;
  font-style: normal;
  color: var(--paragraph);
}

.single-room-people {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.single-room-speakers h5 {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #c5c5c5;
}

.single-room-speakers img {
  border-radius: 45px !important;
  width: 40px;
  height: 40px;
  margin-left: 8%;
  margin-right: 8%;
  flex-direction: row;
  margin-bottom: 8px;
}

.single-room-listeners img {
  border-radius: 45px !important;
  width: 40px;
  height: 40px;
  margin-left: 8%;
  margin-right: 8%;
  flex-direction: row;
  margin-bottom: 8px;
}

.single-room-listeners h5 {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #c5c5c5;
}
